* {
    font-family: georgia,'Poppins', sans-serif;

  }
  
  
  @media (prefers-reduced-motion: no-preference){
  * {
  scroll-behavior: smooth;
}


}
  

  body {
  background: #f5f6f7;
  color: #1b1b32;
 background-color:#eef6ff;
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

#logo {
  width: max(10rem, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 50px;
}

section {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

h1,
h2 {
  font-family: Verdana, Tahoma;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 60px;
}

.info {
  padding: 10px 0 0 5px;
}

.formrow {
  margin-top: 30px;
  padding: 0px 15px;
}

input {
  font-size: 1rem;
}

.info label, .info input {
  display: inline-block;
}

.info input {
  width: 50%;
  text-align: left;
}

.info label {
  width: 10%;
  min-width: 55px;
  text-align: right;
}

.question-block {
  text-align: left;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
}

h3 {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 1.375rem;
}

h3::before {
  content: "Question #";
}

.question {
  border: none;
  padding-bottom: 0;
}

.answers-list {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 1.438rem;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}

footer {
  color: #dfdfe2;
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  margin: 0;padding: 0;
}
footer h6 {
  display: block;
  margin: 5px;
  padding: 0;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.q1-image {
  width:200px; height: auto;
  margin: 10px;
  border: 2px black solid;
}



.container {
  width: 80px;
  height: 120px;
  
  overflow: hidden;        /* prevents block from going outside */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  animation: upDown 1.5s infinite ease-in-out;
}

@keyframes upDown {
  0% { top: 40px; background: red; }
  50% { top: 0px; background: blue; }   /* color when going up */
  100% { top: 40px; background: red; }
}



.box-1 {
  width: 80px; 
  height: 80px;
  background-color: red;
  z-index: -1;
  border: black solid 1px;
}

.box-2{
  width: 50px; 
  height: 50px;
  background-color: rgb(0, 47, 255);
  z-index:1;
}
.box-3 {
  width: 30px;
  height: 30px;
  background-color: green;
  z-index:2;
}


#result {
  background: #ffffff;
  color: #1b1b32;
  padding: 15px 25px;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: bold;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  
}
